# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env
.env.test

# Build directories
dist/
build/
tmp/

# IDE and editor folders
.vscode/
.idea/


# Operating system files
.DS_Store
Thumbs.db

# NPM package lock files
package-lock.json

# Temporary files
*.tmp
*.temp
*.bak
*.swp
*.swo